@model IEnumerable<dynamic>
@{
    int i = 1;
    foreach (var item in Model)
    {
        <ul style="">
            <li>

                <p>@i ) @item.price; </p>


            </li>
        </ul>
        i++;
    }


}
